[submodule "libs/b64decoder"]
	path = libs/b64decoder
	url = https://github.com/ameforce/b64decoder
[submodule "libs/imagesearch"]
	path = libs/imagesearch
	url = https://github.com/ameforce/imagesearch
